# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENVs/
ENV/
*.egg-info/
dist/
build/
mockup/


# Backend
backend/finance.db
backend/.env
backend/.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Node (если будет)
node_modules/

# Task files
task.md
